.component-viewer-sidenav h3 {
  border: none;
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  padding: 0 16px;
}

.component-viewer-sidenav h3 {
  background: rgba(0,0,0,.32);
  color: #fff;
}

.component-viewer-sidenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.component-viewer-sidenav li {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  margin: 0;
  padding: 0;
}

.component-viewer-sidenav li {
  border-color: rgba(0,0,0,.06);
  color: rgba(0,0,0,.54);
}

.component-viewer-sidenav li>a {
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 47px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 0 16px;
  position: relative;
}

.component-viewer-sidenav li>a {
  color: rgba(0,0,0,.54);
}

.component-viewer-sidenav li>a.component-viewer-sidenav-item-selected {
  font-weight: 600;
}

.component-viewer-sidenav li>a:hover {
  background: #000000;
  color: #00bcd4;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.mat-drawer-container {
  position: static !important;
}
.app-content {
  padding: 20px;
  /*height: calc(100vh - 104px);*/
}
mat-sidenav{
  font-family: Roboto,Helvetica Neue,sans-serif;
  box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);

}
.app-sidenav {
  padding: 0;
  min-width: 100px;
  padding-bottom: 72px;
  width: 300px;
  bottom: 0;
  overflow: auto;
  height: 100%;
}
li{
  background-color: #3789c1;
  box-shadow: 0px 5px 35px 5px;
}
.menuItems{
  color: white !important;
}
li:hover{
  box-shadow: 0px 5px 35px 5px;

}
.toolbarHead{
  background-color: #3789c1;
  color: white;
}

mat-expansion-panel{
  /*background-color: #3789c1;*/
  background-color: white;
  /*color: white;*/
}

.mat-accordion .mat-expansion-panel:last-of-type{
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}

.mat-accordion .mat-expansion-panel:first-of-type{
  border-top-right-radius:0;
  border-top-left-radius:0;
}

mat-expansion-panel-header{
  background-color: #3789c1;
  color: white;
}

.mat-expansion-panel-header-title{
  color: white;
}

mat-expansion-panel ul li {
  background-color: #333;
}

mat-expansion-panel ul li>a:hover {
  background-color: lightgrey;
}

mat-expansion-panel .mat-expansion-panel-body {
  background-color: white;
}

.panelTitle {
  background-color: #3789c1 !IMPORTANT;
  height: 48px;
}
@media print {
  .toolbarHead,.app-sidenav{
    display: none;
  }
  .mat-drawer-content{
    margin-left: 0 !important;
    overflow: hidden;
  }
  .app-content{
    padding: 0 !important;
  }
  .app-sidenav{
    width:0px !important;
  }
  mat-sidenav-content{
    margin-left: 0 !important;
    overflow: hidden;
  }

}
